{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h2>Log-in page</h2>

{% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }}</p>
{% endif %}

<form action="/login" method ="POST">
    <p>Username: <input type="text" name="username" value="{{ request.form['username'] }}" id="username"></p>
    <p>Password: <input type="password" name="password" value="{{ request.form['password'] }}" id="password"></p>
    <button type="submit">Log in</button>
</form>

{% endblock %}