{% extends "layout.html" %}

{% block title %}
Add new recipe
{% endblock %}

{% block content %}

<h2>Add new recipe</h2>
{% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }} </p>
{% endif %}

<form method="POST" action="/new_recipe">
    <label for="name">Recipe name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="instructions">Preparation instructions:</label><br>
    <textarea rows="10" cols="50" id="instructions" name="instructions"></textarea><br><br>
    <label for="ingredients">Ingredients:</label><br>
    <table id="ingredient_table">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>measure</th>
          </tr>
          <tr>
            <td><input type="text" id="ing_name" name="ingredientnames-0"></td>
            <td><input type="text" id="amount" name="ingredientamounts-0"></td>
            <td><input type="text" id="measure" name="ingredientmeasures-0"></td>
          </tr>
    </table><br>
    <input type="checkbox" id="is_secret" name="is_secret" value="True">
    <label for="is_secret">Make recipe secret</label><br><br>
    <button type="submit">Save</button>
    <button id="add-ingredient-field" type="button">Add new ingredient</button>
</form>



<script>
    window.onload = function() {
        let addIngredientFieldBtn = document.getElementById('add-ingredient-field');
        addIngredientFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allIngredientsFieldWrapper = document.getElementById('ingredient_table');
            let allIngredientsField = allIngredientsFieldWrapper.getElementsByTagName('input');
            let ingredientInputIds = []
            for(let i = 0; i < allIngredientsField.length; i++) {
                ingredientInputIds.push(parseInt(allIngredientsField[i].name.split('-')[1]));
            }
            let newNameFieldName = `ingredientnames-${Math.max(...ingredientInputIds) + 1}`;
            let newAmountFieldName = `ingredientamounts-${Math.max(...ingredientInputIds) + 1}`;
            let newMeasureFieldName = `ingredientmeasures-${Math.max(...ingredientInputIds) + 1}`;
            allIngredientsFieldWrapper.insertAdjacentHTML('beforeend',`
            <tr>
                <td><input type="text" id=${newNameFieldName} name=${newNameFieldName}></td>
                <td><input type="text" id=${newAmountFieldName} name=${newAmountFieldName}></td>
                <td><input type="text" id=${newMeasureFieldName} name=${newMeasureFieldName}></td>
            </tr>
            `);
        });
    }
</script>
{% endblock %}