{% extends "layout.html" %}

{% block title %}
Add new recipe
{% endblock %}

{% block content %}

<h2>Add new recipe</h2>
{% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }} </p>
{% endif %}

<form method="POST" action="/new_recipe">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group col-6">
        <label for="name">Recipe name:</label><br>
        <input type="text" id="name" name="name" value="{{ request.form['name'] }}"><br><br>
    </div>
    <div class="form-group col-6">
        <label for="instructions">Preparation instructions:</label><br>
        <textarea rows="10" cols="50" id="instructions" name="instructions">{{ request.form['instructions'] }}</textarea><br><br>        
    </div>
    <div class="form-group col-6">
        <label for="portions">Number of portions:</label><br>
        <input type="number" id="portions" name="portions" value="{{ request.form['portions'] }}"><br><br>       
    </div>
    <div class="form-group col-6">
        <label for="ingredients">Ingredients:</label>
        <table id="ingredient_table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Unit of measure (e.g. g or ml)</th>
            </tr>
            {% for i in range(0, ing_number) %}
                {% set f_names = 'ingredientnames-'+i|string %}
                {% set f_amounts = 'ingredientamounts-'+i|string %}
                {% set f_measures = 'ingredientmeasures-'+i|string %}
                <tr>
                    <td><input type="text" id="ing_name" name="ingredientnames-{{i}}" value="{{ request.form[f_names] }}"></td>
                    <td><input type="text" id="amount" name="ingredientamounts-{{i}}" value="{{ request.form[f_amounts] }}"></td>
                    <td><input type="text" id="measure" name="ingredientmeasures-{{i}}" value="{{ request.form[f_measures] }}"></td>
                </tr>
            {% endfor %}
        </table>
        <button id="add-ingredient-field" type="button">Add new ingredient</button><br><br>
    </div>
    <div class="form-group col-6">
        <input type="checkbox" id="is_secret" name="is_secret" value="True">
        <label for="is_secret">Make recipe secret</label><br>
    </div>
    
    <button type="submit">Save</button>
    
</form>



<script>
    window.onload = function() {
        let addIngredientFieldBtn = document.getElementById('add-ingredient-field');
        addIngredientFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allIngredientsFieldWrapper = document.getElementById('ingredient_table');
            let allIngredientsField = allIngredientsFieldWrapper.getElementsByTagName('input');
            let ingredientInputIds = []
            for(let i = 0; i < allIngredientsField.length; i++) {
                ingredientInputIds.push(parseInt(allIngredientsField[i].name.split('-')[1]));
            }
            let newNameFieldName = `ingredientnames-${Math.max(...ingredientInputIds) + 1}`;
            let newAmountFieldName = `ingredientamounts-${Math.max(...ingredientInputIds) + 1}`;
            let newMeasureFieldName = `ingredientmeasures-${Math.max(...ingredientInputIds) + 1}`;
            allIngredientsFieldWrapper.insertAdjacentHTML('beforeend',`
            <tr>
                <td><input type="text" id=${newNameFieldName} name=${newNameFieldName} value="{{ request.form['${newNameFieldName}'] }}"></td>
                <td><input type="text" id=${newAmountFieldName} name=${newAmountFieldName} value="{{ request.form['${newAmountFieldName}'] }}"></td>
                <td><input type="text" id=${newMeasureFieldName} name=${newMeasureFieldName} value="{{ request.form['${newMeasureFieldName}'] }}"></td>
            </tr>
            `);
        });
    }
</script>
{% endblock %}