{% extends "layout.html" %}

{% block title %}
Add new trip
{% endblock %}

{% block content %}

<h2>Add new trip</h2>
{% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }} </p>
{% endif %}

<form method="POST" action="/new_trip">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div class="form-group col-6">
        <label for="name">Trip name:</label><br>
        <input type="text" id="name" name="name" value="{{ request.form['name'] }}"><br><br>
    </div>
    <div class="form-group col-6">
        <label for="participants">Participants:</label><br>
        <table id="participant_table">
            <tr>
                <th>Name</th>
                <th>factor</th>
            </tr>
            {% for i in range(0, part_number) %}
                {% set f_names = 'participantnames-'+i|string %}
                {% set f_factors = 'participantfactors-'+i|string %}
                <tr>
                    <td><input type="text" name="participantnames-{{i}}" value="{{ request.form[f_names] }}"></td>
                    <td><input type="text" name="participantfactors-{{i}}" value="{{ request.form[f_factors] }}"></td>
                </tr>
            {% endfor %}
        </table>
        <button id="add-participant-field" type="button">Add new participant</button><br><br>    
    </div>
    <div class="form-group col-6">
        <label for="recipes">Recipes:</label><br>
        <table id="recipe_table">
            <tr>
                <th>Recipe id</th>
            {% for i in range(0, rec_number) %}
                {% set f_ids = 'recipeids-'+i|string %}
                <tr>
                    <td><input type="text" name="recipeids-{{i}}" value="{{ request.form[f_ids] }}"></td>
                </tr>
            {% endfor %}
        </table>
        <button id="add-recipe-field" type="button">Add new recipe</button><br><br>    
    </div>
    <div class="form-group col-6">
        <input type="checkbox" id="is_secret" name="is_secret" value="True">
        <label for="is_secret">Make trip secret</label><br><br>
    </div>    

    <button type="submit">Save</button>
</form>

<script>
    window.onload = function() {
        let addParticipantFieldBtn = document.getElementById('add-participant-field');
        addParticipantFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allParticipantsFieldWrapper = document.getElementById('participant_table');
            let allParticipantsField = allParticipantsFieldWrapper.getElementsByTagName('input');
            let participantInputIds = []
            for(let i = 0; i < allParticipantsField.length; i++) {
                participantInputIds.push(parseInt(allParticipantsField[i].name.split('-')[1]));
            }
            let newNameFieldName = `participantnames-${Math.max(...participantInputIds) + 1}`;
            let newFactorFieldName = `participantfactors-${Math.max(...participantInputIds) + 1}`;
            allParticipantsFieldWrapper.insertAdjacentHTML('beforeend',`
            <tr>
                <td><input type="text" name=${newNameFieldName}></td>
                <td><input type="text" name=${newFactorFieldName}></td>
            </tr>
            `);  
        });
        let addRecipeFieldBtn = document.getElementById('add-recipe-field');
        addRecipeFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allRecipesFieldWrapper = document.getElementById('recipe_table');
            let allRecipesField = allRecipesFieldWrapper.getElementsByTagName('input');
            let recipeInputIds = []
            for(let i = 0; i < allRecipesField.length; i++) {
                recipeInputIds.push(parseInt(allRecipesField[i].name.split('-')[1]));
            }
            let newIdFieldName = `recipeids-${Math.max(...recipeInputIds) + 1}`;
            allRecipesFieldWrapper.insertAdjacentHTML('beforeend',`
            <tr>
                <td><input type="text" id=${newIdFieldName} name=${newIdFieldName}></td>
            </tr>
            `);
        });
    }
</script>

{% endblock %}