{% extends "layout.html" %}

{% block title %}
Register user
{% endblock %}

{% block content %}

<h2>Registration page</h2>

<form method="POST" action="/register">
    {% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }} </p>
    {% endif %}

    {{form.username.label}}<br>
    {{ form.username() }} <br><br>
    {{form.password.label}}<br>
    {{ form.password() }} <br><br>
    {{ form.confirmation.label }}<br>
    {{ form.confirmation() }}<br><br>
    <button type="submit">Submit</button>
</form>
{% endblock %}